.moviePageContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}

.movieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieImage {
    border-radius: 20px;
    flex-shrink: 3;
}

.movieDetailsContainer {
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 1;
}

.movieTitle{
    font-size: 36px;
}

.goBackButton {
  padding: 10px 20px 10px 20px;
  background-color: var(--dark_secondary);
  width: fit-content;
  border-radius: 15px;
  font-size: 16px;
}

@media (max-width: 900px){
    .movieContainer{
        flex-wrap: wrap;
    }
}